:root{
    --dark_brown: #3c1f0a;
    --brown2: #d5a17c;
    --brown: #b15e23;
    --gray: #656565;
    --gray_l: #dddddd;
    font-family: Arial, Helvetica, sans-serif;

    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}

body > * {
    padding: 0 1rem;
}

header, footer {
    background: var(--dark_brown);
}

nav {
    background: var(--brown);
}



h1, h2 {
    margin: 0;
}

header > h1 {
    color: white;
    padding-top: 3rem;
    font-size: 3rem;
}

header {
    font-style: italic;
    padding-bottom: 4rem;
}

nav {
    padding-top: 1rem;
    padding-bottom: 1rem;

}

nav > ul {
    display: flex;
    flex-wrap: wrap;    
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}     

nav > ul > li > a {
    color: white;
    padding: 1rem;
}

nav > ul > li > a:hover {
    position: relative;
    padding-bottom: 1rem;
    background: url('assets/menu_bullet.gif') no-repeat bottom;
}

#prednasky > div > div {
    display: flex;
    flex-direction: row;
}

.news {
    display: flex;
    flex-direction: column;
}

.news > div {
    display: flex;
    flex-direction: row;
}

#cviceni {
    background: linear-gradient(to top, white, #cecece);
}

.news > div > img {
    margin-right: 0.5rem;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain ;
}

.pred {
    display: flex;
    flex-direction: column;
}

.pred > div {
    width: 100%;
    margin: auto ;
}


h2, h2 > a{
    color: var(--brown);
}

h2 {
    font-size: normal;
    font-weight: normal;
}

h3 {
    border-bottom: 1px dotted var(--brown);
}

h3 > a {
    color: black;
    font-weight: normal;
}

section {
    padding-top: 1rem;
}

#o-predmetu {
    background-color: var(--gray_l);
    padding-top: 2rem;
    padding-bottom: 4rem;
}

p {
    color: var(--gray);
    font-weight: 400;
}

table {
    box-sizing: border-box;
    max-width: 90dvw;
    padding: 0;
    margin: 0.5rem auto; /* Center the table horizontally */
    border: 3px black solid;
}

th {
    background-color: #e99c64;
    border: 2px black dotted;
    padding: 0 0.2rem;
    color: var(--gray);
}

td {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

tbody > tr {
    text-align: center;
}

tbody > tr > td:first-child {
    text-align: start;
}

footer {
    padding-bottom: 1rem;
}

#souvisejici > ul > li {
    list-style-image: url('assets/footer_list_bullet.gif');    
}

#souvisejici > ul > li > a {
    color: var(--brown2);
}

/* Responsive Design */
@media (max-width: 575.98px) {
    body > * {
        display: block;
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    body > * {
        display: block;
        width: 100%;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    #row {
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: 1rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #row {
        display: grid;
        grid-template-columns: 8fr 4fr;
        gap: 1rem;
    }

    #prednasky > div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .pred {
        max-width: 45%;
        margin: 0;
        flex: 1 1 50%; /* Ensure wrapping to 2x2 */
    }
}

@media (min-width: 1200px) {
    #row {
        display: grid;
        grid-template-columns: 8fr 4fr;
        gap: 1rem;
    }

    #prednasky > div{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }

    .pred {
        max-width: 45%;
        margin: 0;
        flex: 1 1 50%; /* Ensure wrapping to 2x2 */
    }
}
